<img id="bg" src="assets/dayfourlawyer-bg.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Enlist in the Union Army</h1>
    <p class="lead">You decide to enlist in the Union Army. After signing up, you are deployed to basic training. You learn each day, First, marching. Second, Rifle firing. Third, Combat Drills. Knowing that you would be deployed soon, you decide to, </p>
    <p class="lead">
        <a href="764548c3-e01b-4762-921c-26e039ff91de" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Write a letter to Laura, your wife.</a>
      <a href="292a1886-091d-4d10-90c9-7d10e3a657cf" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Look through old journal entries.</a>
    </p>
  </main>
