<img id="bg" src="assets/dayfourlawyer-bg.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Don't Hire a Lawyer</h1>
    <p class="lead">As your court date comes, you sit outside on the steps of the court house. You might just never see the light again. You stand after thinking for a while. In your head you have 2 ideas. Do you,</p>
    <p class="lead">
        <a href="0b884a30-6d2a-4630-98fc-9b177834426e" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Run into the court room screaming like a teradactyl and breaking everything</a>
      <a href="bafb2a14-d5ce-42e9-a5e9-dfccce65887d" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Walk in calm and take a seat</a>
    </p>
  </main>