<img id="bg" src="assets/daythreepass.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Rip Up the Draft Letter (2 weeks later)</h1>
    <p class="lead">You ripped up your draft letter two weeks ago. Miraculously, you didn't get caught. Due to your selfishness however, the Confederacy beat the union. By the time you died, The Confederate States of America had already devolved into anarchy. Such an idea of democracy was never achieved again.<br></p>
    <p class="lead fw-bold">Ending 1/16</p>
    <p class="lead">
      <a href="/ef462104-4d0a-48df-aa1d-07f420e4012b" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Take me back</a>
    </p>
  </main>
