<img id="bg" src="assets/daythreefail.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Rip Up the Draft Letter (2 weeks later)</h1>
    <p class="lead">You ripped up your draft letter two weeks ago and had almost forgotten until you received another letter. This time, it says COURT SUMMONS on it. As you slowly open the letter, you start to read. NOTICE  TO APPEAR is written in big text across the top. You panic, the date is less than 2 weeks away. You realize that you should get a lawyer, but is it worth the money?</p>
    <p class="lead">
      <a href="e659e05d-bcb8-4ff6-aad5-e78824b3fc72" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Hire a lawyer</a>
      <a href="2688dc47-e824-47a2-8182-85b85e2c1902" class="btn btn-secondary btn-lg bg-danger border-danger fw-bold text-dark m-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Dangerous: 80% failure rate">Don't hire a lawyer</a>
    </p>
  </main>
