
<img id="bg" src="assets/dayone-bg.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Birth (1828)</h1>
    <p class="lead">You are born as the only child of Dorcas and Daniel Howell near Nashville, Michigan. You have a normal childhood. You learn much from your dad, Daniel. At age 35 you move to Fremont, Michigan. </p>
    <p class="lead">
      <a href="/b2f3a0b7-52af-4e01-9c9b-7c5819eb4c55" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark">Fast Foward to 1863 →</a>
    </p>
  </main>
