<img id="bg" src="assets/dayfourlawyer-bg.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Ask your Commander</h1>
    <p class="lead">You decide to ask your commander about why you are here. He explains that you were being deployed to Gettysburg, Pennsylvania for a battle. Soon, in only four days time you will be on the battlefield.</p>
    <p class="lead">
        <a href="b5826154-cff0-4882-80d9-7d3f3aa710e3" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Tell the others</a>
      <a href="d3566514-104e-4633-bdbb-97e334a2a43d" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Prepare yourself</a>
    </p>
  </main>
