<img id="bg" src="assets/about.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>About</h1>
    <p class="lead">Based on the story of my 3rd great grandpa, Daniel Cornell Howell. This project was created using Angular. Unfortunately, not all the planned endings were finished in time, so it is somewhat incomplete. Nevertheless, please enjoy. <br><br>Sources:<br><a class="text-light" href="https://angular.io">Angular</a><br><a class="text-light" href="https://pixabay.com/">Images (Pixabay)</a></p>
    <p class="lead">
    </p>
  </main>
