<img id="bg" src="assets/dance.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Dance Time</h1>
    <p class="lead">*Macarena music intensifies* Everyone is puzzled by your profound dance skills. Moved by your spirit, they start dancing too. Soon, everyone is dancing. You dance for days... then years. You dance until you grow old, where you finally die, still dancing.</p>
        <p class="lead fw-bold">Ending 2/16</p>
        <p class="lead">
          <a href="/ef462104-4d0a-48df-aa1d-07f420e4012b" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Take me back</a>
        </p>
      
    
  </main>
  