<img id="bg" src="assets/dayfourlawyer-bg.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Spy on your Commander</h1>
    <p class="lead">You decide to spy on your commander about why you are here. You peek through the tent flap seeing him in tears. He seems to be upset about something.  </p>
    <p class="lead">
        <a href="d3566514-104e-4633-bdbb-97e334a2a43d" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Talk to the commander</a>
      <a (click)="charHard()" id="orangebtn" class="btn btn-lg fw-bold text-dark m-1">Sneak into his tent to steal his diary</a>
    </p>
  </main>
