<img id="bg" src="assets/dayfourlawyer-bg.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Hire a Lawyer</h1>
    <p class="lead">You decide to hire a lawyer. One problem, you open your wallet to check how much money you have. You count $27. You will have to settle for a "cheaper" lawyer. Your friend tells you about a "really good" lawyer from Massachusets named James. You are not sure if you should trust him.</p>
    <p class="lead">
      <a href="6eff2f4d-7049-449d-a289-95d9f1d2bc0b" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Hire Jeff</a>
      <a href="a728d071-ce0d-4260-9cb0-8304a7eae4ee" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Hire James</a>
    </p>
  </main>
