<img id="bg" src="assets/dayfourlawyer-bg.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>OBJECTION!</h1>
    <p class="lead">You shout OBJECTION! Everyone turns to look at you. As you have less intelligence than a 2nd grader, you have no clue what to do. So like any logical person, you </p>
    <p class="lead">
        <a href="cbff2071-8bd7-4d98-b14f-8c11665c557c" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Stand up and start doing the Macarena (most definitely a thing in the 1850s)</a>
      <a href="be909345-6437-44e8-9564-eb1825c75054" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Confess and plead guilty</a>
    </p>
  </main>
  