<img id="bg" src="assets/civilwarjournal_ss.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Charisma</h1>
    <p class="lead">Charisma is the mesurement of your ability to charm and convince others. More charisma allows you to complete risky acts more successfuly. In this experience, the level of difficulty (or ammount of charisma needed) is defined by the button color of the choice. Examples are shown below.</p>
    <p class="lead">
        <a (click)="charEasy()" class="btn btn-lg btn-secondary fw-bold border-success bg-success text-dark m-1">Easy</a> 
        <a (click)="charMed()" class="btn btn-lg btn-secondary fw-bold border-warning bg-warning text-dark m-1">Medium</a>
        <a (click)="charHard()" id="orangebtn"class="btn btn-lg border-orange bg-orange fw-bold text-dark m-1">Hard</a>
        <a (click)="charExpert()" class="btn btn-lg btn-secondary fw-bold border-danger bg-danger text-dark m-1">Expert</a> <br><br>
      <a href="/ef462104-4d0a-48df-aa1d-07f420e4012b"class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">I understand, start my adventure →</a>
    </p>
  </main>
