<img id="bg" src="assets/jail.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Run into the court room screaming like a teradactyl and breaking everything</h1>
    <p class="lead">You run inside the court. As you are doing this you interrupt a case that was in progress. The prosecutor stands, so you start throwing hands with him. He crashes to the floor. People mob you trying to stop you unsuccessfully. A brigade of police officers enters. Unarmed and weakened, you surrender. You live the rest of your days in prison.  </p>
    <p class="lead fw-bold">Ending 3/16</p>
    <p class="lead">
      <a href="/ef462104-4d0a-48df-aa1d-07f420e4012b" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Take me back</a>
    </p>
  </main>