<img id="bg" src="assets/jail.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Confess</h1>
    <p class="lead">You surrender decide to surrender. You live for 5 years in prison because of your actions.</p>
    <p class="lead fw-bold">Ending 4/16</p>
    <p class="lead">
      <a href="/ef462104-4d0a-48df-aa1d-07f420e4012b" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Take me back</a>
    </p>
  </main>