<img id="bg" src="assets/dayfourlawyer-bg.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Steal your commanders diary</h1>
    <p class="lead">You somehow manage to steal your commanders diary. Opening it to the soonest page you begin to read. As you skim through it you realize what is about to happen. You are being deployed to a battle in Gettysburg, Pennsylvania. </p>
    <p class="lead">
        <a href="3820970a-2be0-4e6a-a7f3-f5f6a235bd36" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Run</a>
        <a href="d3566514-104e-4633-bdbb-97e334a2a43d" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Tell the others</a>
        <a href="d3566514-104e-4633-bdbb-97e334a2a43d" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Prepare yourself</a>
    </p>
  </main>
