<img id="bg" src="assets/dayfourlawyer-bg.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Write a letter to Laura</h1>
    <p class="lead">You pick up a pen, and start writing.<br><br>June 24th, 1863<br>My dearest Laura, Reminiscing on old times I cannot say anything less than how much I love you. Whilst I would love to return and grow old together, I am afraid of deployment soon. I am an Union Army private now, hoping to become a higher-up soon. But, It seems I must go now, I hope this letter reaches you in good health.<br><br>-Daniel</p>
    <p class="lead">
        <a href="54e45547-541a-4c83-a4aa-824fc1033c99" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Continue</a>
    </p>
  </main>
