<img id="bg" src="assets/daytwo-bg.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Draft Letter (1863)</h1>
    <p class="lead">Your first choice is upon you. You have received a draft notice in the mail. Do you,</p>
    <p class="lead">
      <a href="102b90a2-321e-4f31-adec-7502e9b26a1c" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Enlist in the Union army</a>
      <a href="/b103beab-ecb1-4b94-bd2e-fd719745a363" class="btn btn-lg btn-secondary fw-bold border-danger bg-danger text-dark m-1">Ignore the letter</a>
    </p>
  </main>
