<img id="bg" src="assets/dayfourlawyer-bg.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Don't Hire a Lawyer</h1>
    <p class="lead">You decide to not hire a lawyer. One problem, you have never been to court in your life. In fact, you barley know how to read or write.</p>
    <p class="lead">
        <a href="02a11d5e-2318-49e4-bb6d-cb6dc7fbb93b" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">I'm having second thoughts</a>
      <a href="d644b72d-5255-4244-84f3-a559dcd9403e" class="btn btn-lg btn-secondary fw-bold border-danger bg-danger text-dark m-1">What could go wrong?</a>
    </p>
  </main>
