/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

#bg {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  #orangebtn {
    background-color: #fd7e14;
    border-color: #fd7e14;
}