<video style="z-index: -2" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" id="video">
  <source src="assets/ss-stock-comp.mp4" type="video/mp4">
</video>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<main class="px-3 position-absolute top-50 start-50 translate-middle text-light">
    <h1>Relive the life of Soldier Daniel C. Howell</h1>
   <p class="lead">an interactive choose your own adventure experience.</p>
    <p class="lead">
      <a href="/articles" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark">Explore →</a>
    </p>
  </main>
</div>

 