#video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
  }
  
  span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }