<img id="bg" src="assets/dayfourlawyer-bg.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Write a letter to Laura</h1>
    <p class="lead">May 2nd, 1863<br> Today, I was hired as a new job at the shoe factory. We was told that we would supply the Union Army with the shoes they needs. It pays poor but better than nothing. I have managed to make myself a small house in the Grand Rapids city. Every morning I get up to walk to work, making the shoes at my new job. After my work day, I write to my diary. I go home to support my wife. Sometimes I do other  things, but not much. I've heard about the horrors coming from the South. The audacity of them to think that slavery is right. I would never.</p>
    <p class="lead">
        <a href="54e45547-541a-4c83-a4aa-824fc1033c99" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Continue</a>
    </p>
  </main>
