<img id="bg" src="assets/jail.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Hire James</h1>
    <p class="lead">Turns out, James is a terrible lawyer. You lose your case and are sent to prison for draft evasion.</p>
    <p class="lead fw-bold">Ending 7</p>
    <p class="lead">
      <a href="/ef462104-4d0a-48df-aa1d-07f420e4012b" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Take me back</a>
    </p>
  </main>