<img id="bg" src="assets/dayfourlawyer-bg.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Deployment</h1>
    <p class="lead">You are woken up early, and notified of your deployment. Your general asks you to board the train at once. Your "Troop" is sent to Tennessee on a train. You don't yet know why yet but a few others think they know that something had happened. You decide you want to find out EXACTLY why you were there. You cam eup with two options,</p>
    <p class="lead">
        <a href="b5826154-cff0-4882-80d9-7d3f3aa710e3" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Spy on your commanders tent</a>
      <a href="d3566514-104e-4633-bdbb-97e334a2a43d" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">Ask your commander</a>
    </p>
  </main>
