<img id="bg" src="assets/dayfourlawyer-bg.webp" alt="bg-picture">
<main class="px-3 position-absolute top-50 start-50 translate-middle-y text-light">
    <h1>Don't Hire a Lawyer</h1>
    <p class="lead">You simply walk inside and sit down. The court starts. The prosecutor claims that you have evaded draft. they have quite the amount of evidence as well. You decide you have do do something so you shout,</p>
    <p class="lead">
        <a href="4d6bde44-2697-41e0-a76c-371ab46e2ea2" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">OBJECTION</a>
      <a href="be909345-6437-44e8-9564-eb1825c75054" class="btn btn-lg btn-secondary fw-bold border-light bg-light text-dark m-1">I DID IT, OK?!</a>
    </p>
  </main>